@media (max-width:576px){

    nav{
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        gap: 20px;
        
    }
    .logo h1{
        font-size: 2rem;
    }
    .list{
        margin-inline: auto;
    }
    .list ul{
        text-align: center;
        margin-inline: auto;
    }
    .list li{
        font-size: 1rem;

    }
    .icons{
        width: 90%;
        justify-content: space-around;
        margin-inline: auto;
    }
.section1{
    flex-direction: column;
}
.section1 .text-sec{
    width: 90%;
    margin-inline: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}
.section1 .text-sec h1{
 font-size: 2rem;
 font-weight: 400;
}
.section1 .text-sec h2{
 font-size: 1.2rem;
 margin-block: 10px;
}
.section1 .text-sec p{
 font-size: 16px;
 margin-block: 5px;
}
.section1 .img-sec{
    display: none;
}
.products{
    flex-direction: column;
    gap: 30px;
}
.product h1{
    font-size: 1.5rem;
}
.product h2{
    font-size: 1.2rem;
}
.product img{
    width: 80%;
 }
.text-arrival{
    width: 90%;
    margin-inline: auto;
}

.text-arrival h1{
     font-size: 1.8rem;
}
.text-arrival p{
     font-size: 1rem;
}
.arrivals{
    margin-top: 50px;
    flex-direction: column;
    gap: 20px;
}
.bag h1{
    font-size: 1rem;
}
.bag h2{
    border: none;
}
.facilities{
    flex-direction: column;
    gap: 50px;
    
}
.card{
    width: 90%;
    margin-inline: auto;
}
footer{
    flex-direction: column;
    text-align: center;
}
 footer .class{
    margin-top: 50px;
 }
.end{
    font-size: 1rem;
}
}
@media (min-width:577px) and (max-width:992px){

.logo h1{
    font-size: 1.5rem;
    white-space: nowrap;
}
.list li{
    font-size: 1rem;
    padding-inline: 10px;
    padding-top: 10px;
}
.icons a{
    font-size: 1.5rem;
}
.icons i{
    font-size: 1.5rem;
padding-inline: 10px;
}
.section1{
    width: 100%;
    padding-inline: auto;
    padding-bottom: 40px;
    padding-left: 10%;
}
.section1 .text-sec{
    margin-top: 50px;
}
 .section1 .text-sec h1{
    font-size: 2rem;
 }
  .section1 .text-sec h2{
    font-size: 1.5rem;
  }
 .section1 .text-sec p{
    font-size: 14px;
 }
 .section1 .img-sec{
    margin-top: 50px;
 }

 .section1 .img-sec img{
     width: 50%;
     margin-left: 30%;
 }
 .text-arrival{
    margin-inline: auto;
    width: 90%;
    text-align: center;
 }
 .text-arrival h1{
    font-size: 2rem;
 }
 .text-arrival p{
    font-size: 1rem;
 }
 .bag h1{
    font-size: 1rem;
 }
 .bag h2{
    border: none;
 }
 .card{
    width: 30%;
 }
  .card h2{
    font-size: 2rem;
  }
  .card p{
    font-size: 1rem;
  }
   footer .class h1{
    font-size: 14px;
   }
   footer .class ul li{
    font-size: 10px;
   }
   footer .class p{
    font-size: 10px;
   }













}